<!doctype html>
<html lang="en" ng-app="cubeViewer">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.20.custom.css" />
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    -->
    <script src="{{ STATIC_URL }}js/lib/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/services.js"></script>
    <script src="{{ STATIC_URL }}js/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/directives.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        jQuery(function() {
            jQuery( "#tabs" ).tabs();
        });
    </script>
</head>
<body>
    <div ng-controller="CubeContentsCtrl">
        <textarea name="before" ng-model="beforeCardNames" rows=20>

        </textarea>
        <textarea name="after" ng-model="afterCardNames" rows=20>

        </textarea>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">White</a></li>
            <li><a href="#tabs-2">Blue</a></li>
            <li><a href="#tabs-3">Black</a></li>
            <li><a href="#tabs-4">Red</a></li>
            <li><a href="#tabs-5">Green</a></li>

        </ul>
        <div id="tabs-1">
        Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Savannah Lions</td>
                <td>Silver Knight</td>
                <td>Soltari Champion</td>
                <td>Wall of Reverence</td>
                <td>Baneslayer Angel</td>
                <td>Sun Titan</td>
                <td>Akroma, Angel of Wrath</td>
            </tr>
            <tr>
                <td>Steppe Lynx</td>
                <td>Soltari Monk</td>
                <td>Stonecloaker</td>
                <td>Academy Rector</td>
                <td>Cloudgoat Ranger</td>
                <td>Yosei, the Morning Star</td>
                <td>Elesh Norn, Grand Cenobite</td>
            </tr>
            <tr>
                <td>Student of Warfare</td>
                <td>Soltari Priest</td>
                <td>Wispmare</td>
                <td>Calciderm</td>
                <td>Reveillark</td>
                <td>Exalted Angel</td>
                <td>Eternal Dragon</td>
            </tr>
            <tr>
                <td>Weathered Wayfarer</td>
                <td>Spectral Lynx</td>
                <td>Aven Mindcensor</td>
                <td>Emeria Angel</td>
                <td> </td>
                <td> </td>
                <td>+ Avacyn, Angel of Hope</td>
            </tr>
            <tr>
                <td>Burrenton Forge-Tender</td>
                <td>Stoneforge Mystic</td>
                <td>Blade Splicer</td>
                <td>Hero of Bladehold</td>
                <td> </td>
                <td> </td>
                <td>- Iona, Shield of Emeria</td>
            </tr>
            <tr>
                <td>Elite Vanguard</td>
                <td>Thalia, Guardian of Thraben</td>
                <td>Fiend Hunter</td>
                <td>Hokori, Dust Drinker</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Gideon's Lawkeeper</td>
                <td>Wall of Omens</td>
                <td>Flickerwisp</td>
                <td>Ranger of Eos</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Isamaru, Hound of Konda</td>
                <td>Whipcorder</td>
                <td>Mentor of the Meek</td>
                <td>+ Restoration Angel</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Loam Lion</td>
                <td>White Knight</td>
                <td>Mirran Crusader</td>
                <td>- Magus of the Tabernacle</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Mikaeus, the Lunarch</td>
                <td>Eight-and-a-Half-Tails</td>
                <td>Mirror Entity</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Mother of Runes</td>
                <td>Ethersworn Canonist</td>
                <td>Paladin en-Vec</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Kami of Ancient Law</td>
                <td>Porcelain Legionnaire</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Leonin Relic-Warder</td>
                <td>+ Silverblade Paladin</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Loyal Cathar</td>
                <td>- Loyal Retainers</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        Non-Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Tithe</td>
                <td>Shining Shoal</td>
                <td>Renewed Faith</td>
                <td>Ravages of War</td>
                <td>Rout</td>
                <td>Spectral Procession</td>
                <td> </td>
            </tr>
            <tr>
                <td>Swords to Plowshares</td>
                <td>Ray of Revelation</td>
                <td>Pulse of the Fields</td>
                <td>Parallax Wave</td>
                <td>Increasing Devotion</td>
                <td>Akroma's Vengeance</td>
                <td> </td>
            </tr>
            <tr>
                <td>Path to Exile</td>
                <td>Momentary Blink</td>
                <td>Oblivion Ring</td>
                <td>Wrath of God</td>
                <td>Elspeth Tirel</td>
                <td>Catastrophe</td>
                <td> </td>
            </tr>
            <tr>
                <td>Oust</td>
                <td>Martial Coup</td>
                <td>Lingering Souls</td>
                <td>Worship</td>
                <td>Gideon Jura</td>
                <td>+ Terminus</td>
                <td> </td>
            </tr>
            <tr>
                <td>Mana Tithe</td>
                <td>Luminarch Ascension</td>
                <td>Dismantling Blow</td>
                <td>Faith's Fetters</td>
                <td>- Hallowed Burial</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Land Tax</td>
                <td>Journey to Nowhere</td>
                <td>Glorious Anthem</td>
                <td>Elspeth, Knight-Errant</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Enlightened Tutor</td>
                <td>Honor of the Pure</td>
                <td> </td>
                <td>Decree of Justice</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Condemn</td>
                <td>Disenchant</td>
                <td> </td>
                <td>Day of Judgment</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Celestial Purge</td>
                <td> </td>
                <td>Cataclysm</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Balance</td>
                <td> </td>
                <td>Armageddon</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>Angelic Destiny</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>Ajani Goldmane</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="tabs-2">
        Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Cursecatcher</td>
                <td>Snapcaster Mage</td>
                <td>Sea Gate Oracle</td>
                <td>Sower of Temptation</td>
                <td>Vesuvan Shapeshifter</td>
                <td>Sphinx of Jwar Isle</td>
                <td>Palinchron</td>
            </tr>
            <tr>
                <td>Enclave Cryptologist</td>
                <td>Voidmage Prodigy</td>
                <td>Serendib Efreet</td>
                <td>Tradewind Rider</td>
                <td>Aeon Chronicler</td>
                <td>Brine Elemental</td>
                <td> </td>
            </tr>
            <tr>
                <td>Phantasmal Bear</td>
                <td>Willbender</td>
                <td>Wake Thrasher</td>
                <td>Venser, Shaper Savant</td>
                <td>Meloku the Clouded Mirror</td>
                <td>Consecrated Sphinx</td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Delver of Secrets</td>
                <td>Fathom Seer</td>
                <td>Trinket Mage</td>
                <td>Glen Elendra Archmage</td>
                <td>Mulldrifter</td>
                <td>Frost Titan</td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Jushi Apprentice</td>
                <td>Vendilion Clique</td>
                <td>Ninja of the Deep Hours</td>
                <td>Riftwing Cloudskate</td>
                <td>Keiga, the Tide Star</td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Looter il-Kor</td>
                <td>Kira, Great Glass-Spinner</td>
                <td>Phyrexian Metamorph</td>
                <td>+ Lone Revenant</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Phantasmal Image</td>
                <td>Man-o'-War</td>
                <td>+ Dungeon Geists</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Waterfront Bouncer</td>
                <td>Old Man of the Sea</td>
                <td>- Lu Xun, Scholar General</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>+ Tandem Lookout</td>
                <td>- Thieving Magpie</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>+ Fettergeist</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>- Æther Adept</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>- Court Hussar</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>- Neurok Commando</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        Non-Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Stifle</td>
                <td>Remand</td>
                <td>Tinker</td>
                <td>Turnabout</td>
                <td>Treachery</td>
                <td>Time Spiral</td>
                <td>+ Temporal Mastery</td>
            </tr>
            <tr>
                <td>Spell Pierce</td>
                <td>Negate</td>
                <td>Thirst for Knowledge</td>
                <td>Opposition</td>
                <td>Tidings</td>
                <td>Upheaval</td>
                <td> </td>
            </tr>
            <tr>
                <td>Repeal</td>
                <td>Narcolepsy</td>
                <td>Show and Tell</td>
                <td>Jace, the Mind Sculptor</td>
                <td>Force of Will</td>
                <td>Mind's Desire</td>
                <td> </td>
            </tr>
            <tr>
                <td>Preordain</td>
                <td>Miscalculation</td>
                <td>Jace Beleren</td>
                <td>Fact or Fiction</td>
                <td>Dream Halls</td>
                <td>- Opportunity</td>
                <td> </td>
            </tr>
            <tr>
                <td>Power Sink</td>
                <td>Memory Lapse</td>
                <td>Intuition</td>
                <td>Dismiss</td>
                <td>Desertion</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Ponder</td>
                <td>Mana Leak</td>
                <td>Frantic Search</td>
                <td>Deep Analysis</td>
                <td>Future Sight</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Opt</td>
                <td>Into the Roil</td>
                <td>Forbidden Alchemy</td>
                <td>Cryptic Command</td>
                <td>+ Tamiyo, the Moon Sage</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Mystical Tutor</td>
                <td>Impulse</td>
                <td>Forbid</td>
                <td>Control Magic</td>
                <td>- Time Warp</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Force Spike</td>
                <td>Ideas Unbound</td>
                <td>Dissipate</td>
                <td>Careful Consideration</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Brainstorm</td>
                <td>Flashfreeze</td>
                <td>Compulsive Research</td>
                <td>Gifts Ungiven</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Blue Elemental Blast</td>
                <td>Essence Scatter</td>
                <td>Capsize</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Deprive</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Daze</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Counterspell</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Brain Freeze</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Legacy's Allure</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="tabs-3">
        Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Diregraf Ghoul</td>
                <td>Vampire Hexmage</td>
                <td>Vampire Nighthawk</td>
                <td>Skinrender</td>
                <td>Shriekmaw</td>
                <td>Silent Specter</td>
                <td>Sheoldred, Whispering One</td>
            </tr>
            <tr>
                <td>Gravecrawler</td>
                <td>Black Knight</td>
                <td>Bone Shredder</td>
                <td>Xiahou Dun, the One-Eyed</td>
                <td>Skithiryx, the Blight Dragon</td>
                <td>Visara the Dreadful</td>
                <td>Tombstalker</td>
            </tr>
            <tr>
                <td>+ Guul Draz Assassin</td>
                <td>Bloodghast</td>
                <td>Geralf's Messenger</td>
                <td>Bane of the Living</td>
                <td>Zombie Cutthroat</td>
                <td>Grave Titan</td>
                <td>+ Griselbrand</td>
            </tr>
            <tr>
                <td>+ Putrid Imp</td>
                <td>Dark Confidant</td>
                <td>Hypnotic Specter</td>
                <td>Braids, Cabal Minion</td>
                <td>Bloodgift Demon</td>
                <td>Ink-Eyes, Servant of Oni</td>
                <td> </td>
            </tr>
            <tr>
                <td>- Carnophage</td>
                <td>Dauthi Horror</td>
                <td>Phyrexian Crusader</td>
                <td>Graveborn Muse</td>
                <td>Puppeteer Clique</td>
                <td>Laquatus's Champion</td>
                <td> </td>
            </tr>
            <tr>
                <td>- Vampire Lacerator</td>
                <td>Gatekeeper of Malakir</td>
                <td>Phyrexian Rager</td>
                <td>Korlash, Heir to Blackblade</td>
                <td>+ Throat Slitter</td>
                <td>+ Massacre Wurm</td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Mesmeric Fiend</td>
                <td>+ Demonic Taskmaster</td>
                <td>Nekrataal</td>
                <td>+ Okiba-Gang Shinobi</td>
                <td>- Kokusho, the Evening Star</td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Nezumi Graverobber</td>
                <td>- Dauthi Marauder</td>
                <td>Phyrexian Obliterator</td>
                <td> </td>
                <td>- Skeletal Vampire</td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Nezumi Shortfang</td>
                <td>- Phyrexian Negator</td>
                <td>Plague Sliver</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Oona's Prowler</td>
                <td> </td>
                <td>- Abyssal Persecutor</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Skittering Skirge</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Gloom Surgeon</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Headhunter</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Nantuko Shade</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Dauthi Slayer</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Nightscape Familiar</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        Non-Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Vampiric Tutor</td>
                <td>Terror</td>
                <td>Stupor</td>
                <td>Tendrils of Agony</td>
                <td>Living Death</td>
                <td>+ Spinning Darkness</td>
                <td>+ Decree of Pain</td>
            </tr>
            <tr>
                <td>Unearth</td>
                <td>Sinkhole</td>
                <td>Recurring Nightmare</td>
                <td>Snuff Out</td>
                <td>Liliana Vess</td>
                <td>- Sorin Markov</td>
                <td> </td>
            </tr>
            <tr>
                <td>Thoughtseize</td>
                <td>Profane Command</td>
                <td>Phyrexian Arena</td>
                <td>Makeshift Mannequin</td>
                <td>+ Unburial Rites</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Sarcomancy</td>
                <td>Night's Whisper</td>
                <td>Necropotence</td>
                <td>Diabolic Servitude</td>
                <td>+ Demonic Rising</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Reanimate</td>
                <td>Hymn to Tourach</td>
                <td>Necromancy</td>
                <td>Damnation</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Inquisition of Kozilek</td>
                <td>Exhume</td>
                <td>Liliana of the Veil</td>
                <td>Consuming Vapors</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Innocent Blood</td>
                <td>Doom Blade</td>
                <td>Yawgmoth's Will</td>
                <td>+ Persecute</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Imperial Seal</td>
                <td>Demonic Tutor</td>
                <td>Dismember</td>
                <td>- Ambition's Cost</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Entomb</td>
                <td>Bitterblossom</td>
                <td>Corpse Dance</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Duress</td>
                <td>Go for the Throat</td>
                <td>Buried Alive</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Despise</td>
                <td>Animate Dead</td>
                <td>- Death Cloud</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Deathmark</td>
                <td>+ Wrench Mind</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Dark Ritual</td>
                <td>+ Diabolic Edict</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Tragic Slip</td>
                <td>- Tainted Pact</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Skeletal Scrying</td>
                <td>- Sign in Blood</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Disfigure</td>
                <td>- Mind Shatter</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="tabs-4">
        Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Spikeshot Elder</td>
                <td>Slith Firewalker</td>
                <td>Taurean Mauler</td>
                <td>Avalanche Riders</td>
                <td>Siege-Gang Commander</td>
                <td>Rorix Bladewing</td>
                <td>Akroma, Angel of Fury</td>
            </tr>
            <tr>
                <td>Frenzied Goblin</td>
                <td>Stormblood Berserker</td>
                <td>Thunderscape Battlemage</td>
                <td>Blistering Firecat</td>
                <td>Thunderblust</td>
                <td>Inferno Titan</td>
                <td>Bogardan Hellkite</td>
            </tr>
            <tr>
                <td>Goblin Guide</td>
                <td>Tin Street Hooligan</td>
                <td>Vulshok Refugee</td>
                <td>Flametongue Kavu</td>
                <td>Urabrask the Hidden</td>
                <td> </td>
                <td>Greater Gargadon</td>
            </tr>
            <tr>
                <td>Goblin Welder</td>
                <td>Torch Fiend</td>
                <td>Zo-Zu the Punisher</td>
                <td>Goblin Goon</td>
                <td>Gathan Raiders</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Grim Lavamancer</td>
                <td>Blood Knight</td>
                <td>Ball Lightning</td>
                <td>Hero of Oxid Ridge</td>
                <td>Ingot Chewer</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Jackal Pup</td>
                <td>Ember Hauler</td>
                <td>Chandra's Phoenix</td>
                <td>Keldon Champion</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Kird Ape</td>
                <td>Hellspark Elemental</td>
                <td>Countryside Crusher</td>
                <td>Ravenous Baboons</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Orcish Lumberjack</td>
                <td>Kargan Dragonlord</td>
                <td>Goblin Ruinblaster</td>
                <td>+ Hellrider</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Vexing Devil</td>
                <td>Keldon Marauders</td>
                <td>Hell's Thunder</td>
                <td>- Skizzik</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Stromkirk Noble</td>
                <td>Mogg War Marshal</td>
                <td>Priest of Urabrask</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Plated Geopede</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Goblin Wardriver</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        Non-Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Rolling Earthquake</td>
                <td>Volcanic Hammer</td>
                <td>Volcanic Fallout</td>
                <td>Sneak Attack</td>
                <td>Chandra Nalaar</td>
                <td>Wildfire</td>
                <td>Obliterate</td>
            </tr>
            <tr>
                <td>Red Elemental Blast</td>
                <td>Smash to Smithereens</td>
                <td>Sulfuric Vortex</td>
                <td>Koth of the Hammer</td>
                <td>Beacon of Destruction</td>
                <td>Burning of Xinye</td>
                <td>+ Rite of Ruin</td>
            </tr>
            <tr>
                <td>Reckless Charge</td>
                <td>Searing Blaze</td>
                <td>Staggershock</td>
                <td>Empty the Warrens</td>
                <td>Act of Aggression</td>
                <td>Fireblast</td>
                <td>- Destructive Force</td>
            </tr>
            <tr>
                <td>Lightning Bolt</td>
                <td>Pyroclasm</td>
                <td>Slagstorm</td>
                <td>Chandra, the Firebrand</td>
                <td> </td>
                <td>Jokulhaups</td>
                <td> </td>
            </tr>
            <tr>
                <td>Firestorm</td>
                <td>Magma Jet</td>
                <td>Seething Song</td>
                <td>Aftershock</td>
                <td> </td>
                <td>Pyrokinesis</td>
                <td> </td>
            </tr>
            <tr>
                <td>Earthquake</td>
                <td>Incinerate</td>
                <td>Rift Bolt</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Devil's Play</td>
                <td>Devastating Dreams</td>
                <td>Pulse of the Forge</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Chain Lightning</td>
                <td>Price of Progress</td>
                <td>Pillage</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Genju of the Spires</td>
                <td>Arc Trail</td>
                <td>Molten Rain</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Gamble</td>
                <td>Ancient Grudge</td>
                <td>Wheel of Fortune</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Pillar of Flame</td>
                <td>+ Tibalt, the Fiend-Blooded</td>
                <td>Char</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Bonfire of the Damned</td>
                <td>- Fire Ambush</td>
                <td>Chaos Warp</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Firebolt</td>
                <td> </td>
                <td>Brimstone Volley</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Banefire</td>
                <td> </td>
                <td>Arc Lightning</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="tabs-5">
        Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Wild Nacatl</td>
                <td>Sakura-Tribe Elder</td>
                <td>Thornscape Battlemage</td>
                <td>Thelonite Hermit</td>
                <td>Thornling</td>
                <td>Cloudthresher</td>
                <td>Terastodon</td>
            </tr>
            <tr>
                <td>Arbor Elf</td>
                <td>Scorned Villager</td>
                <td>Troll Ascetic</td>
                <td>Thrun, the Last Troll</td>
                <td>Acidic Slime</td>
                <td>Primeval Titan</td>
                <td>Woodfall Primus</td>
            </tr>
            <tr>
                <td>Avacyn's Pilgrim</td>
                <td>Strangleroot Geist</td>
                <td>Yavimaya Elder</td>
                <td>Vengevine</td>
                <td>Deranged Hermit</td>
                <td> </td>
                <td>Avenger of Zendikar</td>
            </tr>
            <tr>
                <td>Birds of Paradise</td>
                <td>Tarmogoyf</td>
                <td>Daybreak Ranger</td>
                <td>Wickerbough Elder</td>
                <td>Genesis</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Elves of Deep Shadow</td>
                <td>Vinelasher Kudzu</td>
                <td>Eternal Witness</td>
                <td>Blastoderm</td>
                <td>Hystrodon</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Fyndhorn Elves</td>
                <td>Wall of Blossoms</td>
                <td>Great Sable Stag</td>
                <td>Brooding Saurian</td>
                <td>Indrik Stomphowler</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Joraga Treespeaker</td>
                <td>Wall of Roots</td>
                <td>Leatherback Baloth</td>
                <td>Chameleon Colossus</td>
                <td>+ Wolfir Silverheart</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Llanowar Elves</td>
                <td>Werebear</td>
                <td>Ohran Viper</td>
                <td>Master of the Wild Hunt</td>
                <td>- Vorapede</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Noble Hierarch</td>
                <td>Devoted Druid</td>
                <td>+ Somberwald Sage</td>
                <td>Mold Shambler</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Ulvenwald Tracker</td>
                <td>Fauna Shaman</td>
                <td>- Wood Elves</td>
                <td>Nantuko Vigilante</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>- Jungle Lion</td>
                <td>Lotus Cobra</td>
                <td> </td>
                <td>Obstinate Baloth</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Primordial Hydra</td>
                <td> </td>
                <td>Oracle of Mul Daya</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Rofellos, Llanowar Emissary</td>
                <td> </td>
                <td>Phantom Centaur</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Scavenging Ooze</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>+ Jade Mage</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Overgrown Battlement</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Quirion Dryad</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        Non-Creature
        <table border="1">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Vines of Vastwood</td>
                <td>Sylvan Library</td>
                <td>Search for Tomorrow</td>
                <td>Natural Order</td>
                <td>Stunted Growth</td>
                <td>- Summoning Trap</td>
                <td>Tooth and Nail</td>
            </tr>
            <tr>
                <td>Rancor</td>
                <td>Survival of the Fittest</td>
                <td>Moldervine Cloak</td>
                <td>Birthing Pod</td>
                <td>Rude Awakening</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Green Sun's Zenith</td>
                <td>Seal of Primordium</td>
                <td>Lead the Stampede</td>
                <td>Harmonize</td>
                <td>Restock</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>+ Prey Upon</td>
                <td>Regrowth</td>
                <td>Krosan Grip</td>
                <td>Garruk Wildspeaker</td>
                <td>Plow Under</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Rampant Growth</td>
                <td>Kodama's Reach</td>
                <td>Garruk Relentless</td>
                <td>Primal Command</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Nostalgic Dreams</td>
                <td>Cultivate</td>
                <td>- Stonewood Invocation</td>
                <td>Garruk, Primal Hunter</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Naturalize</td>
                <td>Call of the Herd</td>
                <td> </td>
                <td>+ Overrun</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Moment's Peace</td>
                <td>Beast Within</td>
                <td> </td>
                <td>+ All Suns' Dawn</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Fertile Ground</td>
                <td>Heartbeat of Spring</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Farseek</td>
                <td>Genesis Wave</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Explore</td>
                <td>Awakening Zone</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>Channel</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td>- Life from the Loam</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        </div>
    </div>
</body>
</html>
