<!doctype html>
<html lang="en" ng-app="cube_diff">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head>
<body ng-controller="CubeContentsCtrl">
<div>
    <form>
        <textarea name="before" ng-model="beforeCardNames" rows=10>

        </textarea>
        cards: {{before.length}}
        <textarea name="after" ng-model="afterCardNames" rows=10>

        </textarea>
        cards:  {{after.length}}
        <textarea name="spec" ng-model="spec" rows=10>

        </textarea>
        <div>
            <label ng-repeat="heuristic in heuristics">
                <input type="checkbox" ng-model="heuristic.checked">
                {{heuristic.key}}
                <br/>
            </label>
        </div>
        <button type="submit" class="btn" ng-click="diff()">Diff</button>

    </form>
</div>

<tabs>
    <pane ng-repeat="cat in diffedCube" heading="{{cat.category}}" active="cat.active">
        <diff-table val="cat"></diff-table>
    </pane>
</tabs>
<!-- In production use:
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
 -->
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular/angular-cookies.js"></script>
<script src="/djangular/app.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/ui-bootstrap-tpls-0.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</body>
</html>
