<!doctype html>
<html lang="en" ng-app="cube_diff">
<head>
  <meta charset="utf-8">
  <title>cuesbey.com - cube diff</title>
  <link rel="stylesheet" href="static/cube_diff/css/app.css"/>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-controller="CubeContentsCtrl">
<div>
    <form>
        <textarea name="before" ng-model="beforeCardNames" rows=10>

        </textarea>
        cards: {{before.length}}
        <textarea name="after" ng-model="afterCardNames" rows=10>

        </textarea>
        cards:  {{after.length}}
        <textarea name="spec" ng-model="spec" rows=10>

        </textarea>
        <div>
            invalid names (if any)<br>
            <ul>
                <li ng-repeat="name in invalid">{{ name }}</li>
            </ul>
        </div>
        <div>
            <label ng-repeat="heuristic in heuristics">
                <input type="checkbox" ng-model="heuristic.checked">
                {{heuristic.key}}
                <br/>
            </label>
        </div>
        <button type="submit" class="btn" ng-click="diff()">Diff</button>

    </form>
</div>

<tabs>
    <pane ng-repeat="cat in diffedCube" heading="{{cat.category}}" active="cat.active">
        <diff-table val="cat"></diff-table>
    </pane>
</tabs>
<!-- In production use:
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
 -->
<script src="/static/lib/angular/angular.js"></script>
<script src="/static/lib/angular/angular-cookies.js"></script>
<script src="/djangular/app.js"></script>
<script src="/static/cube_diff/js/app.js"></script>
<script src="/static/cube_diff/js/services.js"></script>
<script src="/static/cube_diff/js/controllers.js"></script>
<script src="/static/cube_diff/js/directives.js"></script>
<script src="/static/cube_diff/js/ui-bootstrap-tpls-0.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>

Magic the Gathering is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is <i>unaffiliated.</i>
<br>
cuesbey is <a href="https://github.com/rdennis463/cuesbey">open source</a>
</body>
</html>
