{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#cubeview").accordion();
    });
</script>
{% endblock %}

{% block body %}
<div id=cubeview>
    {% for cube in cubes %}
    <h3>Cube: {{ cube.id }}</h3>
    <div>
        <ul>
            {% for card in cube.cards.all %}
                <li>{{ card.name }}</li>
            {% empty %}
            <li>No cards</li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <h3>No Cubes</h3>
    {% endfor %}
</div>
{% endblock %}